@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: #1a1a1a;
}

h1, h2, h3 {
  font-family: var(--font-playfair), serif;
}
